{
  "openapi": "3.1.0",
  "info": {
    "title": "TerminalFeed API",
    "summary": "Real-time aggregated data for AI agents. Free tier plus USDC-paid premium tier with cross-site credits on TensorFeed.",
    "description": "TerminalFeed serves a free public API with no auth (markets, crypto, news, weather, space, infrastructure status) and a premium tier of composed multi-source endpoints gated by bearer-token auth. Premium credits are bought with USDC on Base mainnet and are jointly redeemable on tensorfeed.ai. Free endpoints have no SLA but return stale cache on upstream failure rather than 5xx. Premium endpoints are billed atomically: credits decrement before the upstream fetch begins, so partial-success responses still count.",
    "version": "1.6.0",
    "contact": {
      "name": "TerminalFeed Support",
      "url": "https://terminalfeed.io/developers/agent-payments",
      "email": "support@terminalfeed.io"
    },
    "license": {
      "name": "Free tier: permissive use. Premium tier: inference-only, see Terms section 17.",
      "url": "https://terminalfeed.io/terms#premium"
    },
    "termsOfService": "https://terminalfeed.io/terms"
  },
  "servers": [
    {
      "url": "https://terminalfeed.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "Self-describing endpoints for agents."
    },
    {
      "name": "Free: Markets",
      "description": "Free tier market and economic data."
    },
    {
      "name": "Free: Crypto",
      "description": "Free tier crypto and on-chain data."
    },
    {
      "name": "Free: World",
      "description": "Free tier world events, news, infrastructure."
    },
    {
      "name": "Premium: Composed",
      "description": "Premium /api/pro/* endpoints. Bearer auth required."
    },
    {
      "name": "Premium: Billing",
      "description": "Buy credits, confirm payment, check balance."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "tf_live_<64-char-hex>",
        "description": "Premium tier authentication. Obtain a token by buying credits via POST /api/payment/buy-credits, sending USDC on Base, and POST /api/payment/confirm. Cross-redeemable on tensorfeed.ai."
      }
    },
    "schemas": {
      "PremiumPaymentRequired": {
        "type": "object",
        "required": [
          "error",
          "signup",
          "pricing"
        ],
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "missing_token",
              "invalid_token",
              "insufficient_credits",
              "expired",
              "billing_unavailable",
              "payment_required"
            ],
            "description": "Reason the request was rejected. Use this to disambiguate retry strategy."
          },
          "signup": {
            "type": "string",
            "format": "uri",
            "example": "https://terminalfeed.io/developers/agent-payments"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "$1_usd": {
                "type": "string",
                "example": "50_credits"
              }
            }
          }
        }
      },
      "BriefingPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/briefing"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sections": {
            "type": "object",
            "properties": {
              "btc": {
                "type": "object",
                "properties": {
                  "price_usd": {
                    "type": "number"
                  },
                  "change_24h_percent": {
                    "type": "number"
                  },
                  "volume_24h": {
                    "type": "number"
                  },
                  "high_24h": {
                    "type": "number"
                  },
                  "low_24h": {
                    "type": "number"
                  }
                }
              },
              "fear_greed": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "label": {
                    "type": "string",
                    "example": "Greed"
                  }
                }
              },
              "earthquakes": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "latest": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "magnitude": {
                        "type": "number"
                      },
                      "place": {
                        "type": "string"
                      },
                      "time": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "hackernews": {
                "type": "object",
                "properties": {
                  "top_story_count": {
                    "type": "integer"
                  }
                }
              },
              "humans_in_space": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "predictions": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "top": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "question": {
                          "type": "string"
                        },
                        "volume_24hr": {
                          "type": "number"
                        },
                        "outcomes": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "series": {
            "type": "object",
            "description": "Present only when ?history=24h is requested.",
            "properties": {
              "btc_24h": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "type": "integer",
                      "description": "ms since epoch"
                    },
                    "price": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MacroPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/macro"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "economic": {
            "type": "object",
            "description": "FRED macro indicators. Each entry has value, date (ISO yyyy-mm-dd), source.",
            "properties": {
              "fed_rate": {
                "$ref": "#/components/schemas/FredEntry"
              },
              "cpi": {
                "$ref": "#/components/schemas/FredEntry"
              },
              "unemployment": {
                "$ref": "#/components/schemas/FredEntry"
              },
              "gdp_growth": {
                "$ref": "#/components/schemas/FredEntry"
              },
              "treasury_10y": {
                "$ref": "#/components/schemas/FredEntry"
              }
            }
          },
          "forex": {
            "type": "object",
            "properties": {
              "base": {
                "type": "string",
                "example": "USD"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "rates": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                },
                "example": {
                  "EUR": 0.92,
                  "JPY": 152.4,
                  "GBP": 0.78,
                  "CHF": 0.88
                }
              },
              "series": {
                "type": "object",
                "description": "Present only when ?history=30d is requested.",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "value": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "commodities": {
            "type": "object",
            "properties": {
              "gold": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "price_usd": {
                    "type": "number"
                  },
                  "source": {
                    "type": "string",
                    "example": "paxg/kraken"
                  }
                }
              },
              "silver": {
                "type": "object",
                "nullable": true,
                "description": "Omitted in v1. Will be added when a stable free upstream surfaces."
              },
              "oil": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "price_usd": {
                    "type": "number"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "source": {
                    "type": "string"
                  }
                }
              },
              "nat_gas": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "price_usd": {
                    "type": "number"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "source": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "markets": {
            "type": "object",
            "properties": {
              "spy": {
                "$ref": "#/components/schemas/QuoteEntry"
              },
              "dia": {
                "$ref": "#/components/schemas/QuoteEntry"
              },
              "qqq": {
                "$ref": "#/components/schemas/QuoteEntry"
              },
              "vix": {
                "$ref": "#/components/schemas/QuoteEntry"
              }
            }
          },
          "notes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CryptoDeepPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/crypto-deep"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "coins_top50": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "price_usd": {
                  "type": "number"
                },
                "change_1h_percent": {
                  "type": "number"
                },
                "change_24h_percent": {
                  "type": "number"
                },
                "change_7d_percent": {
                  "type": "number"
                },
                "market_cap": {
                  "type": "number"
                },
                "volume_24h": {
                  "type": "number"
                },
                "rank": {
                  "type": "integer"
                }
              }
            }
          },
          "binance_top20_usdt": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pair": {
                  "type": "string",
                  "example": "BTCUSDT"
                },
                "price": {
                  "type": "number"
                },
                "change_24h_percent": {
                  "type": "number"
                },
                "volume_24h": {
                  "type": "number"
                },
                "high_24h": {
                  "type": "number"
                },
                "low_24h": {
                  "type": "number"
                },
                "trades_24h": {
                  "type": "integer"
                }
              }
            }
          },
          "network_btc": {
            "type": "object",
            "properties": {
              "block_height": {
                "type": "integer"
              },
              "fees_sat_per_vb": {
                "type": "object",
                "properties": {
                  "fastest": {
                    "type": "integer"
                  },
                  "half_hour": {
                    "type": "integer"
                  },
                  "hour": {
                    "type": "integer"
                  },
                  "economy": {
                    "type": "integer"
                  },
                  "minimum": {
                    "type": "integer"
                  }
                }
              },
              "hashrate": {
                "type": "object",
                "properties": {
                  "current_eh_s": {
                    "type": "number"
                  },
                  "current_difficulty": {
                    "type": "number"
                  }
                }
              },
              "mempool": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "vsize": {
                    "type": "integer"
                  },
                  "total_fee_sat": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "eth_gas": {
            "type": "object",
            "nullable": true,
            "properties": {
              "low_gwei": {
                "type": "integer"
              },
              "standard_gwei": {
                "type": "integer"
              },
              "fast_gwei": {
                "type": "integer"
              },
              "base_fee_gwei": {
                "type": "number"
              },
              "last_block": {
                "type": "integer"
              }
            }
          },
          "series": {
            "type": "object",
            "description": "Present only when ?history=30d is requested.",
            "properties": {
              "btc_30d": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "type": "integer"
                    },
                    "low": {
                      "type": "number"
                    },
                    "high": {
                      "type": "number"
                    },
                    "open": {
                      "type": "number"
                    },
                    "close": {
                      "type": "number"
                    },
                    "volume": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FredEntry": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string",
            "example": "fred:FEDFUNDS"
          },
          "series": {
            "type": "array",
            "description": "Present only when ?history=30d is requested.",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "QuoteEntry": {
        "type": "object",
        "nullable": true,
        "properties": {
          "price": {
            "type": "number"
          },
          "change": {
            "type": "number"
          },
          "change_percent": {
            "type": "number"
          }
        }
      },
      "BuyCreditsRequest": {
        "type": "object",
        "required": [
          "amount_usd"
        ],
        "properties": {
          "amount_usd": {
            "type": "number",
            "minimum": 1,
            "description": "USDC amount to convert. $1 = 50 credits."
          }
        }
      },
      "BuyCreditsResponse": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string",
            "example": "0x549c82e6bfc54bdae9a2073744cbc2af5d1fc6d1"
          },
          "memo": {
            "type": "string",
            "example": "tf_buy_a1b2c3"
          },
          "quote": {
            "type": "object",
            "properties": {
              "amount_usd": {
                "type": "number"
              },
              "credits": {
                "type": "integer"
              },
              "chain": {
                "type": "string",
                "example": "base"
              }
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConfirmPaymentRequest": {
        "type": "object",
        "required": [
          "tx_hash",
          "nonce"
        ],
        "properties": {
          "tx_hash": {
            "type": "string",
            "description": "On-chain Base mainnet USDC transfer hash."
          },
          "nonce": {
            "type": "string",
            "description": "The memo string returned from /api/payment/buy-credits."
          }
        }
      },
      "ConfirmPaymentResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "tf_live_<64-char-hex>"
          },
          "credits": {
            "type": "integer",
            "example": 50
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SentimentPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/sentiment"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "market_indices": {
            "type": "object",
            "properties": {
              "crypto_fear_greed": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "value": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "label": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string",
                    "example": "alternative.me"
                  }
                }
              },
              "stocks_vix": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "change_percent": {
                    "type": "number"
                  },
                  "label": {
                    "type": "string",
                    "enum": [
                      "low_volatility",
                      "normal",
                      "elevated",
                      "high_volatility",
                      "unknown"
                    ]
                  },
                  "source": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "trending": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "asset_class": {
                  "type": "string",
                  "enum": [
                    "crypto",
                    "equity",
                    "crypto-equity"
                  ]
                },
                "mention_count_24h": {
                  "type": "integer"
                },
                "sources": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                },
                "sentiment_score": {
                  "type": "number",
                  "minimum": -1,
                  "maximum": 1
                },
                "sentiment_label": {
                  "type": "string",
                  "enum": [
                    "negative",
                    "moderately_negative",
                    "neutral",
                    "moderately_positive",
                    "positive"
                  ]
                },
                "sample_headlines": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "nullable": true
                      },
                      "source": {
                        "type": "string"
                      },
                      "sentiment_signal": {
                        "type": "string",
                        "enum": [
                          "+",
                          "-",
                          "neutral"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "prediction_markets_signals": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "yes_probability": {
                  "type": "number",
                  "nullable": true
                },
                "volume_24h": {
                  "type": "number"
                },
                "url": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "sample_size": {
            "type": "object",
            "properties": {
              "headlines_scanned": {
                "type": "integer"
              },
              "tickers_with_mentions": {
                "type": "integer"
              }
            }
          },
          "notes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "WorldDeltasPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/world-deltas"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "since": {
            "type": "string",
            "format": "date-time"
          },
          "since_clamped": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "earthquake",
                    "hn_story",
                    "polymarket_update",
                    "space_launch"
                  ]
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                },
                "severity": {
                  "type": "string",
                  "enum": [
                    "minor",
                    "moderate",
                    "major"
                  ]
                },
                "data": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "sample_size": {
            "type": "object"
          },
          "notes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AgentContextPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "terminalfeed-pro"
          },
          "endpoint": {
            "type": "string",
            "example": "/api/pro/agent-context"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "context": {
            "type": "object",
            "properties": {
              "datetime": {
                "type": "object"
              },
              "markets": {
                "type": "object",
                "properties": {
                  "btc": {
                    "type": "object",
                    "nullable": true
                  },
                  "crypto_fear_greed": {
                    "type": "object",
                    "nullable": true
                  },
                  "vix": {
                    "type": "object",
                    "nullable": true
                  },
                  "fed_funds_rate": {
                    "type": "object",
                    "nullable": true
                  },
                  "forex_usd_base": {
                    "type": "object"
                  }
                }
              },
              "world_events": {
                "type": "object",
                "properties": {
                  "significant_earthquakes_24h": {
                    "type": "array"
                  },
                  "upcoming_space_launches": {
                    "type": "array"
                  },
                  "hn_front_page_top5": {
                    "type": "array"
                  },
                  "prediction_markets_top3": {
                    "type": "array"
                  }
                }
              },
              "infrastructure": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string"
                  },
                  "details": {
                    "type": "object"
                  },
                  "all_operational": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "system_prompt": {
            "type": "string",
            "description": "Pre-formatted multi-line string an agent pastes verbatim into LLM context. Target ~350 tokens."
          },
          "notes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CorrelationMatrixPro": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "window": {
            "type": "string",
            "example": "30d"
          },
          "method": {
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "asset_class": {
                  "type": "string"
                },
                "observations": {
                  "type": "integer"
                }
              }
            }
          },
          "pairs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "a": {
                  "type": "string"
                },
                "b": {
                  "type": "string"
                },
                "pearson_r": {
                  "type": "number",
                  "minimum": -1,
                  "maximum": 1
                },
                "n_observations": {
                  "type": "integer"
                },
                "relationship": {
                  "type": "string",
                  "enum": [
                    "negligible",
                    "weak",
                    "moderate",
                    "strong"
                  ]
                },
                "direction": {
                  "type": "string",
                  "enum": [
                    "positive",
                    "negative",
                    "none"
                  ]
                }
              }
            }
          },
          "matrix": {
            "type": "object"
          },
          "sample_size": {
            "type": "object"
          },
          "notes": {
            "type": "object"
          }
        }
      }
    },
    "responses": {
      "PremiumPaymentRequired": {
        "description": "Premium endpoint refused: missing or invalid bearer, insufficient credits, or billing service unreachable.",
        "headers": {
          "X-TerminalFeed-Pricing": {
            "schema": {
              "type": "string"
            },
            "description": "URL pointing at /developers/agent-payments."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PremiumPaymentRequired"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "API directory",
        "description": "Self-describing index of free and premium endpoints with pricing. Recommended first call for autonomous agents.",
        "responses": {
          "200": {
            "description": "Endpoint inventory.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Worker health check",
        "responses": {
          "200": {
            "description": "OK with version + uptime.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "uptime": {
                      "type": "integer"
                    },
                    "ts": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/briefing": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Free one-call world snapshot",
        "description": "Compact summary of BTC, Fear & Greed, recent earthquakes, top HN story count, and ISS crew. For richer composition with predictions and history, see GET /api/pro/briefing.",
        "responses": {
          "200": {
            "description": "Aggregated snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/btc-price": {
      "get": {
        "tags": [
          "Free: Crypto"
        ],
        "summary": "Bitcoin price (Binance with CoinCap fallback)",
        "responses": {
          "200": {
            "description": "Live BTC ticker.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/crypto-movers": {
      "get": {
        "tags": [
          "Free: Crypto"
        ],
        "summary": "Top 15 crypto movers by 24h change",
        "responses": {
          "200": {
            "description": "Movers list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/fear-greed": {
      "get": {
        "tags": [
          "Free: Crypto"
        ],
        "summary": "Crypto Fear & Greed Index (Alternative.me)",
        "responses": {
          "200": {
            "description": "Index value 0-100 with label.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/stocks": {
      "get": {
        "tags": [
          "Free: Markets"
        ],
        "summary": "Top US stocks (Finnhub)",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional comma list of tickers, e.g. AAPL,MSFT,NVDA"
          }
        ],
        "responses": {
          "200": {
            "description": "Quotes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/forex": {
      "get": {
        "tags": [
          "Free: Markets"
        ],
        "summary": "Currency rates (Frankfurter, USD base)",
        "responses": {
          "200": {
            "description": "Latest + previous-day rates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/economic-data": {
      "get": {
        "tags": [
          "Free: Markets"
        ],
        "summary": "FRED indicators (Fed rate, CPI, unemployment, GDP)",
        "responses": {
          "200": {
            "description": "Latest macro readings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/predictions": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Polymarket prediction markets",
        "responses": {
          "200": {
            "description": "Active markets sorted by 24h volume.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/earthquake": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Recent earthquakes M2.5+ (USGS)",
        "responses": {
          "200": {
            "description": "Quake list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/disaster-alerts": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Global disaster alerts (GDACS)",
        "responses": {
          "200": {
            "description": "Active disaster alerts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/launches": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Upcoming space launches (The Space Devs)",
        "responses": {
          "200": {
            "description": "Launch manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/humans-in-space": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "ISS crew (Open Notify)",
        "responses": {
          "200": {
            "description": "Crew count and names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/cyber-threats": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Malware and IOCs (URLhaus + ThreatFox)",
        "responses": {
          "200": {
            "description": "Recent threats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/service-status": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Status of GitHub, Cloudflare, OpenAI, Anthropic, etc.",
        "responses": {
          "200": {
            "description": "Per-service status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/gas": {
      "get": {
        "tags": [
          "Free: Crypto"
        ],
        "summary": "Ethereum gas oracle (Etherscan)",
        "responses": {
          "200": {
            "description": "Gwei prices low/standard/fast.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/weather": {
      "get": {
        "tags": [
          "Free: World"
        ],
        "summary": "Weather (Open-Meteo)",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current weather and hourly forecast.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/pro/briefing": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium briefing: 6 upstream sources composed (1 credit)",
        "description": "All free /api/briefing modules plus Polymarket prediction markets, optional include filter, and optional 24-hour BTC chart series. Returns 402 Payment Required when auth fails or credits are exhausted; the credit is decremented before the upstream fetch begins, so partial-fetch responses still count.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated subset: btc,fear-greed,earthquakes,hackernews,humans-in-space,predictions"
          },
          {
            "name": "history",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "24h"
              ]
            },
            "description": "When set to 24h, response includes a series.btc_24h hourly array."
          }
        ],
        "responses": {
          "200": {
            "description": "Composed briefing.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BriefingPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl https://terminalfeed.io/api/pro/briefing \\\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nres = requests.get(\n    \"https://terminalfeed.io/api/pro/briefing\",\n    headers={\"Authorization\": \"Bearer tf_live_<64-char-hex>\"},\n    timeout=10,\n)\nprint(res.json())\nprint(\"credits left:\", res.headers.get(\"X-Credits-Remaining\"))"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const res = await fetch(\"https://terminalfeed.io/api/pro/briefing\", {\n  headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" },\n});\nconst data = await res.json();\nconsole.log(data);\nconsole.log(\"credits left:\", res.headers.get(\"X-Credits-Remaining\"));"
          }
        ]
      }
    },
    "/api/pro/macro": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium macro snapshot: FRED + forex + commodities + indices (2 credits)",
        "description": "Composes ~14 upstream calls into one response: 7 FRED economic series, 4 USD-base forex rates, gold via PAXG, US indices SPY/DIA/QQQ, and VIX. Optional 30-day history.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "history",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "30d"
              ]
            },
            "description": "When set, FRED entries include a series array and forex.series is populated."
          }
        ],
        "responses": {
          "200": {
            "description": "Composed macro snapshot.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MacroPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl \"https://terminalfeed.io/api/pro/macro?history=30d\" \\\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nres = requests.get(\n    \"https://terminalfeed.io/api/pro/macro\",\n    params={\"history\": \"30d\"},\n    headers={\"Authorization\": \"Bearer tf_live_<64-char-hex>\"},\n    timeout=15,\n)\nmacro = res.json()\nprint(\"Fed rate:\", macro[\"economic\"][\"fed_rate\"][\"value\"])\nprint(\"VIX:\", macro[\"markets\"][\"vix\"][\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const url = new URL(\"https://terminalfeed.io/api/pro/macro\");\nurl.searchParams.set(\"history\", \"30d\");\nconst res = await fetch(url, {\n  headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" },\n});\nconst macro = await res.json();\nconsole.log(\"Fed rate:\", macro.economic.fed_rate.value);"
          }
        ]
      }
    },
    "/api/pro/crypto-deep": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium crypto deep snapshot: top 50 + Binance + on-chain + gas (2 credits)",
        "description": "Composes 7 upstream sources: top 50 coins by market cap with 1h/24h/7d change, Binance top 20 USDT pairs by volume with high/low/trade-count, Bitcoin network stats from mempool.space (block height, fee tiers, hashrate, mempool size), and Etherscan gas oracle. Optional 30-day BTC OHLCV.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "coins",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated symbol filter, e.g. btc,eth,sol"
          },
          {
            "name": "history",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "30d"
              ]
            },
            "description": "When set, response includes series.btc_30d."
          }
        ],
        "responses": {
          "200": {
            "description": "Composed crypto-deep snapshot.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoDeepPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl \"https://terminalfeed.io/api/pro/crypto-deep?coins=btc,eth,sol\" \\\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nres = requests.get(\n    \"https://terminalfeed.io/api/pro/crypto-deep\",\n    params={\"coins\": \"btc,eth,sol\"},\n    headers={\"Authorization\": \"Bearer tf_live_<64-char-hex>\"},\n    timeout=15,\n)\nd = res.json()\nfor coin in d[\"coins_top50\"]:\n    print(coin[\"symbol\"], coin[\"price_usd\"], coin[\"change_24h_percent\"])\nprint(\"BTC block height:\", d[\"network_btc\"][\"block_height\"])"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const url = new URL(\"https://terminalfeed.io/api/pro/crypto-deep\");\nurl.searchParams.set(\"coins\", \"btc,eth,sol\");\nconst res = await fetch(url, { headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" } });\nconst d = await res.json();\nfor (const c of d.coins_top50) console.log(c.symbol, c.price_usd);"
          }
        ]
      }
    },
    "/api/payment/info": {
      "get": {
        "tags": [
          "Premium: Billing"
        ],
        "summary": "Self-describing payment metadata",
        "description": "Returns the published USDC wallet address, pricing tiers, supported payment flows (credits-first and x402 fallback), and verification metadata. No auth required. Useful as the first call in an agent's onboarding sequence.",
        "responses": {
          "200": {
            "description": "Payment metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/buy-credits": {
      "post": {
        "tags": [
          "Premium: Billing"
        ],
        "summary": "Quote a credit purchase, return wallet + memo",
        "description": "Returns the published USDC wallet, a unique memo, and a quote tying the USD amount to credits. Send USDC on Base mainnet to the wallet, then call POST /api/payment/confirm with the tx hash and memo. Proxies to the TensorFeed payment Worker; the wallet returned must match the address published at /terms section 17, /developers/agent-payments, /llms.txt, and the GitHub README.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyCreditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote with wallet and memo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyCreditsResponse"
                }
              }
            }
          },
          "503": {
            "description": "Billing infrastructure not configured."
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl -X POST https://terminalfeed.io/api/payment/buy-credits \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"amount_usd\": 1.00}'"
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nquote = requests.post(\n    \"https://terminalfeed.io/api/payment/buy-credits\",\n    json={\"amount_usd\": 1.00},\n    timeout=10,\n).json()\nprint(\"Send\", quote[\"amount_usd\"], \"USDC to\", quote[\"wallet\"])\nprint(\"Memo:\", quote[\"memo\"])"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const res = await fetch(\"https://terminalfeed.io/api/payment/buy-credits\", {\n  method: \"POST\",\n  headers: { \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ amount_usd: 1.00 }),\n});\nconst quote = await res.json();\nconsole.log(\"Send\", quote.amount_usd, \"USDC to\", quote.wallet);"
          }
        ]
      }
    },
    "/api/payment/confirm": {
      "post": {
        "tags": [
          "Premium: Billing"
        ],
        "summary": "Confirm USDC transfer, mint bearer token",
        "description": "Verifies the on-chain transaction and the memo, then returns a bearer token plus credit count. Replay-protected: the same tx hash will not credit twice.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bearer token issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmPaymentResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment not found, expired, or replayed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PremiumPaymentRequired"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl -X POST https://terminalfeed.io/api/payment/confirm \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"tx_hash\": \"0xabc...\", \"nonce\": \"tf-...\"}'"
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nresp = requests.post(\n    \"https://terminalfeed.io/api/payment/confirm\",\n    json={\"tx_hash\": \"0xabc...\", \"nonce\": \"tf-...\"},\n    timeout=15,\n).json()\ntoken = resp[\"token\"]\nprint(\"Bearer token:\", token, \"Credits:\", resp[\"credits\"])"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const res = await fetch(\"https://terminalfeed.io/api/payment/confirm\", {\n  method: \"POST\",\n  headers: { \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ tx_hash: \"0xabc...\", nonce: \"tf-...\" }),\n});\nconst { token, credits } = await res.json();"
          }
        ]
      }
    },
    "/api/payment/balance": {
      "get": {
        "tags": [
          "Premium: Billing"
        ],
        "summary": "Check remaining credits for a bearer token",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl https://terminalfeed.io/api/payment/balance \\\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nbalance = requests.get(\n    \"https://terminalfeed.io/api/payment/balance\",\n    headers={\"Authorization\": \"Bearer tf_live_<64-char-hex>\"},\n    timeout=10,\n).json()\nprint(\"Credits remaining:\", balance[\"credits\"])"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const res = await fetch(\"https://terminalfeed.io/api/payment/balance\", {\n  headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" },\n});\nconst balance = await res.json();\nconsole.log(\"Credits remaining:\", balance.credits);"
          }
        ]
      }
    },
    "/api/llm-tools": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Pre-baked function-calling tool definitions for OpenAI and Anthropic",
        "description": "Returns ready-to-paste tool definitions for every TerminalFeed endpoint in OpenAI function-calling format and Anthropic tool-use format. Free endpoint by design (no credits). Agent devs paste the openai or anthropic block directly into their LLM tool-use scaffold.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "openai",
                "anthropic",
                "raw"
              ]
            },
            "description": "Output format. Default both."
          },
          {
            "name": "tier",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "free",
                "premium"
              ]
            },
            "description": "Filter by tier. Default all."
          }
        ],
        "responses": {
          "200": {
            "description": "Tool definitions in requested format(s).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl \"https://terminalfeed.io/api/llm-tools?format=anthropic\""
          },
          {
            "lang": "Python",
            "label": "Python (Anthropic SDK)",
            "source": "import requests, anthropic\ntools = requests.get(\"https://terminalfeed.io/api/llm-tools?format=anthropic\").json()[\"anthropic\"]\nclient = anthropic.Anthropic()\nresp = client.messages.create(\n    model=\"claude-opus-4-7\",\n    tools=tools,\n    messages=[{\"role\": \"user\", \"content\": \"What is the current Fed funds rate?\"}],\n    max_tokens=1024,\n)"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (OpenAI SDK)",
            "source": "import OpenAI from \"openai\";\nconst tools = (await fetch(\"https://terminalfeed.io/api/llm-tools?format=openai\").then(r => r.json())).openai;\nconst openai = new OpenAI();\nconst resp = await openai.chat.completions.create({\n  model: \"gpt-4o\",\n  tools,\n  messages: [{ role: \"user\", content: \"Get the latest BTC price.\" }],\n});"
          }
        ]
      }
    },
    "/api/pro/sentiment": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium composite market sentiment (2 credits)",
        "description": "Composite market sentiment for AI trading and research agents. Aggregates Crypto Fear and Greed Index, VIX volatility (when Finnhub key has access), trending ticker mentions across Hacker News top 30 + Reddit hot posts (r/CryptoCurrency, r/wallstreetbets, r/stocks) with per-headline keyword-based sentiment scoring, and Polymarket-implied probabilities for top markets. Output includes per-ticker mention_count_24h, sentiment_score (-1 to +1), sentiment_label, and sample headlines with URLs. Notes field documents the scoring methodology (keyword-based, crude but signal-bearing) so agents can calibrate trust appropriately. 2 credits ($0.04). Bearer auth required. Cached at 5min.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Composite sentiment snapshot.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl https://terminalfeed.io/api/pro/sentiment \\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (requests)",
            "source": "import requests\nres = requests.get(\n    \"https://terminalfeed.io/api/pro/sentiment\",\n    headers={\"Authorization\": \"Bearer tf_live_<64-char-hex>\"},\n    timeout=15,\n)\ndata = res.json()\nprint(\"Crypto F&G:\", data[\"market_indices\"][\"crypto_fear_greed\"])\nfor t in data[\"trending\"][:5]:\n    print(t[\"symbol\"], t[\"sentiment_label\"], t[\"mention_count_24h\"], \"mentions\")"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const res = await fetch(\"https://terminalfeed.io/api/pro/sentiment\", {\n  headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" },\n});\nconst data = await res.json();\nfor (const t of data.trending.slice(0, 5)) {\n  console.log(t.symbol, t.sentiment_label, t.mention_count_24h);\n}"
          }
        ]
      }
    },
    "/api/pro/world-deltas": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium time-sorted event stream (2 credits)",
        "description": "Aggregates time-stamped events from 4 upstream sources into one time-sorted feed: USGS earthquakes M4.0+, Hacker News current front-page items (within the since window), recently updated Polymarket markets >= $10K 24h volume, and space launches in [-1h, +12h] window. Accepts ?since=<ISO timestamp>, defaults to 1 hour ago and clamped to the 1-hour cache horizon. Each event has type, timestamp, severity, and structured data. Saves a monitor agent from polling 4 separate upstream feeds and time-merging client-side. 2 credits ($0.04). Bearer auth. 1-hour rolling cache; sub-second response when warm.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 timestamp. Returns events newer than this. Defaults to 1 hour ago. Clamped to 1 hour ago if older."
          }
        ],
        "responses": {
          "200": {
            "description": "Time-sorted event stream.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorldDeltasPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl \"https://terminalfeed.io/api/pro/world-deltas?since=2026-04-27T22:00:00Z\" \\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (monitor loop)",
            "source": "import requests, time\nfrom datetime import datetime, timezone, timedelta\n\nTOKEN = \"tf_live_<64-char-hex>\"\nlast_poll = datetime.now(timezone.utc) - timedelta(minutes=5)\n\nwhile True:\n    res = requests.get(\n        \"https://terminalfeed.io/api/pro/world-deltas\",\n        params={\"since\": last_poll.isoformat()},\n        headers={\"Authorization\": f\"Bearer {TOKEN}\"},\n        timeout=15,\n    )\n    data = res.json()\n    for ev in data[\"events\"]:\n        print(ev[\"type\"], ev[\"severity\"], ev[\"data\"])\n    last_poll = datetime.now(timezone.utc)\n    time.sleep(300)  # 5 min cadence"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (polling)",
            "source": "const url = new URL(\"https://terminalfeed.io/api/pro/world-deltas\");\nurl.searchParams.set(\"since\", new Date(Date.now() - 5*60_000).toISOString());\nconst res = await fetch(url, { headers: { Authorization: \"Bearer tf_live_<64-char-hex>\" } });\nconst data = await res.json();\nfor (const ev of data.events) console.log(ev.type, ev.severity, ev.data);"
          }
        ]
      }
    },
    "/api/pro/agent-context": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Curated 'always start here' world-state with paste-ready system_prompt (2 credits)",
        "description": "The 'always start here' premium call for autonomous agents. Composes 13 upstream sources into a curated world-state snapshot: BTC ticker, Fear & Greed, VIX, Fed funds rate, USD-base forex (EUR/JPY/GBP/CHF), HN front page top 5, significant earthquakes 24h, upcoming space launches, top 3 Polymarket markets by 24h volume, and infrastructure status (GitHub, Cloudflare, OpenAI, Anthropic). Returns BOTH a structured JSON `context` object for parsers AND a pre-formatted `system_prompt` string (~350 tokens) the agent pastes verbatim into its LLM context window. Saves the agent from making 13 separate calls and writing a formatter. The curation choice (which signals matter, how to compress them) is the moat. Costs 2 credits ($0.04). 5-min cache. Bearer auth required.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Curated world-state with structured context and paste-ready system_prompt.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentContextPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl https://terminalfeed.io/api/pro/agent-context \\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python (paste system_prompt into Claude)",
            "source": "import requests, anthropic\nTOKEN = \"tf_live_<64-char-hex>\"\nctx = requests.get(\n    \"https://terminalfeed.io/api/pro/agent-context\",\n    headers={\"Authorization\": f\"Bearer {TOKEN}\"},\n    timeout=15,\n).json()\n\nclient = anthropic.Anthropic()\nresp = client.messages.create(\n    model=\"claude-opus-4-7\",\n    system=ctx[\"system_prompt\"],   # paste-ready, ~350 tokens of curated world state\n    messages=[{\"role\": \"user\", \"content\": \"Given the current macro context, what should I research?\"}],\n    max_tokens=1024,\n)\nprint(resp.content[0].text)"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (paste into OpenAI)",
            "source": "import OpenAI from \"openai\";\nconst TOKEN = \"tf_live_<64-char-hex>\";\nconst ctx = await fetch(\"https://terminalfeed.io/api/pro/agent-context\", {\n  headers: { Authorization: `Bearer ${TOKEN}` },\n}).then(r => r.json());\n\nconst openai = new OpenAI();\nconst resp = await openai.chat.completions.create({\n  model: \"gpt-4o\",\n  messages: [\n    { role: \"system\", content: ctx.system_prompt },\n    { role: \"user\", content: \"What are the most notable signals in the current world state?\" },\n  ],\n});"
          }
        ]
      }
    },
    "/api/pro/correlation-matrix": {
      "get": {
        "tags": [
          "Premium: Composed"
        ],
        "summary": "Premium 30-day cross-asset correlation matrix (2 credits)",
        "description": "Pre-computed Pearson correlation matrix on 30-day daily simple returns across up to 10 assets: BTC, ETH, SOL, AVAX, LINK (Coinbase candles, free), gold via PAXG-USD (Coinbase, free), and 10Y / 2Y treasury yields, trade-weighted USD index, WTI oil (FRED, requires FRED_API_KEY on the Worker). Returns both a pairs array (sorted by absolute r descending) and an NxN matrix object. Each pair tagged with relationship strength and direction. Saves the agent from fetching 10 historical price series and running covariance math. Costs 2 credits ($0.04 USDC). 30-min cache. Bearer auth required.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Correlation matrix.",
            "headers": {
              "X-Credits-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorrelationMatrixPro"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PremiumPaymentRequired"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "curl",
            "source": "curl https://terminalfeed.io/api/pro/correlation-matrix \\n  -H \"Authorization: Bearer tf_live_<64-char-hex>\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nm = requests.get(\n    \"https://terminalfeed.io/api/pro/correlation-matrix\",\n    headers={\"Authorization\": f\"Bearer {TOKEN}\"},\n    timeout=15,\n).json()\nfor p in m[\"pairs\"][:5]:\n    print(f\"{p['a']} <-> {p['b']}: {p['pearson_r']:+.3f}\")\nbtc_eth = m[\"matrix\"][\"BTC\"][\"ETH\"]"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript",
            "source": "const m = await fetch(\"https://terminalfeed.io/api/pro/correlation-matrix\", {\n  headers: { Authorization: `Bearer ${TOKEN}` },\n}).then(r => r.json());\nconst btcEth = m.matrix.BTC.ETH;\nconsole.log(\"BTC-ETH:\", btcEth);"
          }
        ]
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "Free Tier",
      "tags": [
        "Discovery",
        "Free: Markets",
        "Free: Crypto",
        "Free: World"
      ]
    },
    {
      "name": "Premium Tier",
      "tags": [
        "Premium: Composed",
        "Premium: Billing"
      ]
    }
  ]
}
